{
    "plugins": ["prettier-plugin-organize-imports"],
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "all",
    "semi": false,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto"
}
